body {
  background-color: rgb(253, 251, 251);
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.6px;
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight:400;
}

#cabecalho {
  position: fixed;
  top: 0;
  display: inline-block;
  background-color: rgb(255, 245, 233);
  left: 0;
  right: 0;
}

#titulo {
  color: brown;
  margin-left: 40px;
  font-size: 30px;
}

li:hover {
  color: red;
}

#menu1 li {
  display: inline-block;
  border: 2px solid rgb(238, 238, 238);
  padding: 10px;
}

#minha_foto {
  margin-top: 110px;
  margin-left: 140px;
  margin-bottom: 30px;
  width: 400px;
  border-radius: 100%;
  padding: 10px;
  background-color: rgb(255, 245, 233);
}

.lado-esquerdo {
  float: left;
}

.lado-direito {
  max-width: 800px;
  margin-bottom: 250px;
}

aside {
  max-width: 800px;
}

.dadosTabela {
  border: 2px solid rgb(53, 53, 53);
  padding: 10px;
}

.dadosTabela:hover {
  color: red;
}

